<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>RoboGears</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/R.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Vesperr
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/vesperr-free-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <h1><a href="@{/home}">RoboGears</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto " href="#portfolio">Categories</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>
          
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <li><a class="getstarted scrollto" href="@{/robot-form}">Add Robot</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->


  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Robot's Name</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Robot</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="assets/img/portfolio/portfolio-details-1.jpg" alt="">
                </div>

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>Les informations sur le robot</h3>
              <ul>
                <li><strong>Category</strong>: Web design</li>
                <li><strong>Client</strong>: ASU Company</li>
                <li><strong>Project date</strong>: 01 March, 2020</li>
                <li><strong>Project URL</strong>: <a href="#">www.example.com</a></li>
              </ul>
            </div>
           
          </div>

        </div>

      </div>

          <title>Table HTML avec CSS</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table HTML avec CSS</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        h2 {
            text-align: center;
        }

        table {
            width: 75%;
            margin: 20px auto;
            border-collapse: collapse;
            margin-left: 450px;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    

    <div class="specs ruled-container-md">
    <h2 class="text-label-s padding-bottom-r">Specs</h2>
    <dl class="switcher">
        <div class="switcher ruled-md">
            <div class="ruled-md stack padding-bottom-r">
                <dt class="visually-hidden">Overview</dt>
                <dd class="text-body-1">
      
                </dd>
            </div>
            <div class="ruled-md stack measures padding-bottom-r">
                <dt class="text-label-s">Width</dt>
                <dd  class="text-headline-m">
                  <p th:text="${robot.width}">width</p>
                </dd>
                
                <dt class="text-label-s">Height (cm)</dt>
                <dd class="text-headline-m">
                  <p th:text="${robot.height}">height (cm)</p></p>
                </dd>
                <dt class="text-label-s">Length (cm)</dt>
                <dd class="text-headline-m">
                  <p th:text="${robot.Length}">lenght (cm)</p>
                </dd>
                <dt class="text-label-s">Weight (Kg)</dt>
                <dd class="text-headline-m">
                  <p th:text="${robot.weight}">weight</p>
                </dd>
                <dt class="text-label-s">Speed (Km/h)</dt>
                <dd class="text-headline-m">
                  <p th:text="${robot.speed}">speed</p>
                </dd>
            </div>
        </div>
        <div class="switcher ruled-md">
            <div class="ruled-md stack padding-bottom-r">
                <dt class="text-label-s">Sensors</dt>
                <dd  class="text-body-1">
                    <p th:text="${robot.sensors}">sensors</p>
                </dd>
                <dt class="text-label-s">Actuators</dt>
                <dd class="text-body-1">
                    <p th:text="${robot.actuators}">actuators</p>
                </dd>
               
                </dd>
            </div>
            <div class="ruled-md stack padding-bottom-r">
                <dt class="text-label-s">Core</dt>
                <dd class="text-body-1">
                    <p th:text="${robot.core}" >core</p>
                </dd>
                <dt class="text-label-s">Software</dt>
                <dd class="text-body-1">
                    <p  th:text="${robot.software}">software</p>
                </dd>
                <dt class="text-label-s">Power</dt>
                <dd  class="text-body-1">
                    <p th:text="${robot.power}">power</p>
                </dd>
            </div>
        </div>
    </dl>
</div>
    

    </section><!-- End Portfolio Details Section -->










  </main><!-- End #main -->

 

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>